
@{
    ViewData["Title"] = "_ProjectCardPartial";
}

<br />
<div class="row">
    <div class="col-4">
        <div class="card">
            <img class="card-img-top" src="~/images/testProjectImg.jpg" alt="Card image cap" style="Height: 280px" />
            <div class="card-body">
                <h5 class="card-tittle"></h5>
                <p class="card-text">
                    The world's first blockchain agnostic IoT device management platform.
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="col-4">
        <div class="card">
            <img class="card-img-top" src="~/images/testProjectImg2.png" alt="Card image cap" style="Height: 280px"  />
            <div class="card-body">
                <h5 class="card-tittle"></h5>
                <p class="card-text">
                    Ownership is the ultimate loyalty program
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="col-4">
        <div class="card">
            <img class="card-img-top" src="~/images/testProjectImg3.jpg" alt="Card image cap" style="Height: 280px"  />
            <div class="card-body">
                <h5 class="card-tittle"></h5>
                <p class="card-text">
                    The Most Efficient Electric Vehicle in the World
                </p>
            </div>
        </div>
    </div>
</div>

